
ul, ol { list-style:none; }
dl, ul, ol, li,
html, body, pre, p, blockquote,
form, fieldset, input, label { 
	margin:0; 
	padding:0;
}

a {
	border: 0;
  color: #0088CC;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

/* Styling needed for a fullscreen canvas and no scrollbars. */
body, 
html { 
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

#starfield {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

#gamecontainer {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#gamecanvas { 
	height: 600px;
	width: 800px;
}

#info {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
