#nav #moomoo {
  background-image: url(../data/avatars/all/moomoo.png);
}

#nav #david {
  background-image: url(../data/avatars/all/davidpixel.png);
}

#nav #joel {
  background-image: url(../data/avatars/all/joelpixel.png);
}

#nav #pete {
  background-image: url(../data/avatars/all/petepixel.png);
}

#nav #dom {
  background-image: url(../data/avatars/all/dom_320.png);
}

#nav #amy {
  background-image: url(../data/avatars/all/amy_320.png);
}


#nav #gil {
  background-image: url(../data/avatars/all/gil.png);
}

#nav #unknown {
  background-image: url(../data/avatars/all/moomoopixel_320.png);
}

#nav #glen {
  background-image: url(../data/avatars/all/glenpixel.png);
}

#nav #marcy {
  background-image: url(../data/avatars/all/marcypixel.png);
}

#nav #alex {
  background-image: url(../data/avatars/all/alex_320.png);
}


#nav #wes {
  background-image: url(../data/avatars/all/wespixel.png);
}


