#nav #moomoo {
  background-image: url(../data/avatars/all/moomoo.png);
}

#nav #sharkie {
  background-image: url(../data/avatars/all/sharkie_320.png);
}

#nav #rioter {
  background-image: url(../data/avatars/all/rioter.png);
}

#nav #jenfongadwent {
  background-image: url(../data/avatars/all/jenfongadwent_320.png);
}