#main {
	margin: 1rem auto;
	width: 42rem;
	padding-top: 15px;
}

#main h1 {
  font-family: 'sega', sans-serif;
	font-size: 4.5rem;
	font-weight: 300;
	margin: 0 0 1rem;
}

h2 {
	background-color: rgb(240, 219, 79);
	margin: 0 0 1rem;
	padding: 1rem 1rem .5rem;
}

h2 a {
	color: black;
  font-family: 'sega', sans-serif;
	font-size: 3rem;
	font-weight: 300;
	text-decoration: none;
}

#nav {
	margin-top: 2rem;
}

#nav li {
	background-image: url(../graphics/grid.png);
  background-size: 100%;
  display: inline-block;
	font-family: "press_start", sans-serif;
  height: 8rem;
	margin-bottom: 3rem;
	margin-right: .4rem;
  position: relative;
  width: 8rem;
}

#nav li::after {
  background-color: rgba(0, 0, 0, .5);
  content: " ";
  height: inherit;
  position: absolute;
  width: inherit;
}

#nav li.current::after {
  background-color: transparent;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
  color: rgb(240, 219, 79);
  content: "1P";
	font-size: 2rem;
	padding-top: 90%;
	text-align: center;
	text-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.5);
}

#nav li span {
	color: rgb(240, 219, 79);
	position: absolute;
	text-align: center;
	text-shadow: .125rem .125rem .25rem rgb(0, 0, 0);
	top: -1.5rem;
	width: 100%;
	z-index: 99;
}

#nav li.current span {
	color: rgb(240, 219, 79);
}

#nav b {
	display: inline-block;
	font-weight: 300;
	text-align: left;
}

#nav i {
	display: inline-block;
	font-style: normal;
}

#nav s {
	text-decoration: inherit;
}

#player {
	border: .12rem solid rgb(240, 219, 79);
}

#player.wes figure {
    background-size: 122%;
}

#player div {
	position: relative;
}

#player figure {
	background-size: 100%; 
	width: 55%;
	margin: 0 .5rem .5rem 44%;
	height: 0;
	padding-top: 55%;
}

#player h3 {
	color: rgb(240, 219, 79);
	font-family: "sega", sans-serif;
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.6;
	margin: 0 1rem;
	position: absolute;
}

#player dl {
	color: rgb(240, 219, 79);
	line-height: 1.6;
	margin: 1rem;
	position: absolute;
	top: 3rem;
}

#player dt {
	font-family: "press_start", sans-serif;
	position: relative;
}

#player dd {
	background-image: url(../graphics/star.png);
	height: 2.5rem;
	margin: 0 0 1rem;
	position: relative;
}

#player .stars-5 {
	width: 12.5rem;
}

#player .stars-45 {
	width: 11.2rem;
}

#player .stars-4 {
	width: 10rem;
}

#player .stars-35 {
	width: 8.6rem;
}

#player .stars-3 {
	width: 7.5rem;
}


#player .stars-0 {
    width: 0rem;
}

#speaker {
	border: .1rem dashed #F0DB4F;
	border-top: none;
	color: #F0DB4F;
	display: none;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	position: relative;
}

#speaker dl {
	margin: .125rem 0 .25rem;
}

#speaker dt {
	background-color: #F0DB4F;
	color: black;
	cursor: pointer;
	opacity: .5;
	position: absolute;
	right: 0;
	top: 0;
	width: 49.6%;
}

#speaker dt:first-child {
	right: 50%;
	width: 50%;
}

#speaker dt a {
	display: inline-block;
	padding: .25rem .5rem;
}

#speaker dd {
	display: none;
	margin: 0 .5rem;
	padding-top: 2.5rem;
}

#speaker dt.active {
	opacity: 1;
}

#speaker dd.active {
	display: block;
}

body > header {
        background-image: url("../images/headbackground.png");
        height: 500px;
        padding-top: 50px;
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-color: black;
    }


    .callout {
        font-size: 2em;
       	font-family: 'VT323', serif;
    }

   .info  img {
        height: 250px;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    body > header h1 {
        color: white;
        font-family: 'VT323', seriff;
        font-size: 3em;
    }
    header .info {
        margin: auto;
    }

.nav-row nav {
	font-family: "VT323", cursive;
	font-size: 1.4rem;
	margin: 0 auto;
	max-width: 900px;
}

.nav-row li {
	display: inline-block;
	width: 24%;
	padding: 1.5rem 0;
	text-align: center;
}

.nav-row a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.nav-row a:hover {
	text-decoration: underline;
}
